body{
	background-color: turquoise;
	text-align: left;
}
#title{
	color: blue;
	font-size: 60px;
	font-weight: bolder;
	font-style: italic;
}
#tobo{
	border: 4px solid blue;
	border-radius: 20px;
}
.information{
	margin-left: 20%;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

#parent-section{
	display: flex;
}

#section-1{
	background-color: turquoise;
	width: 50%;
	height: 800px;
}
#section-2{
	background-color: turquoise;
	width: 50%;
	height: 800px;
}